      body {
            background-color: rgb(255, 255, 233);
            color: rgb(14, 28, 48);
            font-family: sans-serif georgia;
        }

        a {
            color: rgb(14, 28, 48);
            text-decoration: none;
        }

        li {
            list-style-type: none;
        }
